#header, #quicklinks, #leftCol, #rightCol { display: none; }
#container { background-image: none; }
#centerCol, #container { width: 100%; }
.post-object { padding: 0; }

a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;}
